pdf2image==1.17.0
langchain~=0.3.5
langchain-openai==0.2.5
langchain-community~=0.3.5
python-dotenv==1.0.1
openai~=1.53.0
transformers~=4.46
matplotlib==3.9.2
pandas~=2.2
tiktoken~=0.8.0
azure-identity~=1.19.0
azure-search-documents==11.5.2
azure-ai-generative==1.0.0b11
azure-cognitiveservices-speech~=1.41.1
azure-ai-documentintelligence==1.0.0b4
scikit-learn==1.5.2
datasets~=3.1.0
opencv-python-headless==4.10.0.84
Markdown==3.7
markdownify==0.13.1
pymupdf==1.24.12
Jinja2
jsonlines
promptflow[azure]
promptflow-tools
azure-ai-contentsafety==1.0.0